.lunes{
    color: blue;
}
.martes{
    color: red;
}
.miercoles{
    color: brown;
}
.jueves{
    color: yellowgreen;
}
.viernes{
    color: orange;
}
.sabados-domingos{
    color: violet;
}